<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="web/fragments/header :: header"></head>
<body>
	<!-- Navigation-->
	
	
	<nav th:replace="web/fragments/navigation :: nav"></nav>
	
	
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">Siêu thị điện máy HC</h1>
				<p class="lead fw-normal text-white-50 mb-0">chào mừng quý khách
					quay trở lại</p>
			</div>
		</div>
	</header>
	<!-- Section-->
	<section class="py-5" style="min-height:600px">
		<div class="container px-4 px-lg-5 mt-5">
			<div
				class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


				<div class="col mb-5" th:each="product : ${productPage.content}">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top" th:src="@{${product.img}}" alt="..." />
						<!-- Product details-->
						<div class="card-body p-4">
							<div class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder" th:text="${product.name}">Fancy
									Product</h5>
								<!-- Product price-->
								<span th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 0, 'POINT')}+ ' vnd'"></span>
							</div>
						</div>
						<!-- Product actions-->
						<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<div class="text-center">
								<a class="btn btn-outline-dark mt-auto" th:href="@{'/items?id='+${product.id}}">Xem chi
									tiết</a>
							</div>
						</div>
					</div>

				</div>


			</div>
			<div class="d-flex justify-content-center">
				<ul class="pagination ">
					<li class="page-item"
						th:class="${currentPage == 0} ? 'disabled' : ''"><a
						class="page-link"
						th:href="@{${'/home?page=' + (currentPage - 1) }}"> Previous </a></li>

				<!--  	<li class="page-item"><a class="page-link" href="#">1</a></li> -->


					<li th:class="page-item " 
						th:each="pageNumber : ${#numbers.sequence(0, productPage.totalPages - 1)}">
						
						<a class="page-link" th:if="${pageNumber >=0}"
						th:href="@{${'/home?page=' + pageNumber }}"
						th:text="${pageNumber + 1}"
						th:class="${pageNumber == currentPage} ? 'active page-link' : 'page-link'"></a>
					</li>


					<li class="page-item"
						th:class="${currentPage + 1 >= productPage.totalPages} ? 'disabled' : ''">
						<a class="page-link"
						th:href="@{${'/home?page=' + (currentPage + 1) }}"> Next </a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- Footer-->
	<footer th:replace="web/fragments/footer::footer">
		
	</footer>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>
</html>
